ion-content {
  height: 50vh;
  padding: 0;
  ion-card{
    .transparent-card{
      background-color: transparent;
    }
    ion-card-content{
    #map-test {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    }
  }
  }
}
